.counter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
}